body {
  font-size: clamp(1rem, 2vw, 1.5rem); 
  font-family: 'Roboto', sans-serif;

 
  padding: 4rem;
  font-weight: normal;
  text-align: start;
  letter-spacing: 1px;

  color: #dffc6b;
  background-color:#311269
}

main {
  margin: auto; 
}

a:link {
  color: #AFE6E6;
  text-decoration: none;
}


ul li::before {
  content: "✅";
  display: inline-block;
  margin-right: 0.0rem;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  font-variant: small-caps slashed-zero;
  font-family: 'Bree Serif', serif;
}

img {
  width:100%;
}

.wormparttwo {
  display: block;
  height: auto
}

figure {
  margin: 0;
}

 a:hover {
  background-color: #6cfbde;
 color:#661737; 
 }

